<div [ngClass]="{sidenavhiden: _sidenavService.getIsSidenavOpened()}"
  class="d-flex flex-column flex-shrink-0 p-3 text-white bg-dark sidenav">
  <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-white text-decoration-none">
    <svg class="bi me-2" width="40" height="32">
      <use xlink:href="#bootstrap"></use>
    </svg>
    <span class="fs-4">Sidebar</span>
  </a>
  <hr>
  <ul class="nav nav-pills flex-column mb-auto">
    <li class="nav-item" *ngFor="let item of getSidenavItems(), let ind = index" (click)="onClick(ind)">
      <a [href]="item.link" class="nav-link text-white" [class.active]="ind === activePage" aria-current="page"
        target="_blank">
        <svg class="bi me-2" width="16" height="16">
          <use xlink:href="#home"></use>
        </svg>
        {{item.title}}
      </a>
    </li>
  </ul>
</div>